body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #ece6da;
}

form {
    display: inline-block;
    text-align: left;
}

input[type="text"],
select {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}